@font-face { 
    font-family: "New Tegomin";
    src: url("/fonts/NewTegomin-Regular.ttf");
}
html, body{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
}
ul, li, ol, a{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header{
    font-family: New Tegomin, sans-serif;
    color: #fff;
    padding: 16px;
    background-color: #12161c;
    display: flex;
    justify-content: space-between;
}
.header-logo{
    margin-right: 16px;
    height: 32px;
}
.header-logo-svg{
    fill: #fff;
}
.header-nav{
    display: flex;
}
.header-nav-list{
    display: flex;
}
.header-nav-list li{
    margin-right: 16px;
}
.header-nav-list li:last-child{
    margin-right: 0;
}
.header-nav-link:hover{
    color: #c9d1d9;
}
.header-nav-link{
    color: #fff;
}
.header-nav-icon{
    display: flex;
    align-items: center;
}
.header-input-text:focus,
.header-input-text:active{
    outline: none;
}
.header-form-label{
    background-color: #0d1117;
    height: 100%;
}
.header-nav-svgbox{
    display: flex;
    align-items: center;
    fill: #fff;
}
.header-nav-svgbox span,
.header-user-logo span:last-of-type{
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    border-top-style: solid;
    border-top-width: 4px;
    border-right: 4px solid transparent;
    border-bottom: 0 solid transparent;
    border-left: 4px solid transparent;
}
.header-user-logo{
    display: flex;
    align-items: center;
}
.header-user-logo > span:first-of-type{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
}
.oction{
    width: 16px;
    height: 16px;
}
.header-logo-form-nav{
    display: flex;
    align-items: flex-start;
}
.header-form{
    height: 32px;
    display: flex;
    align-items: center;
}

