.box{
    width: 600px;
    height: 600px;
    border: 3px goldenrod dashed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box > img{
    position: relative;
    width: 100px;
    height: 100px;
    bottom: 0;
    animation: box 3s linear infinite;

}
@keyframes box {
    0% { bottom: 0;}
    20% { transform: scaleY(1);}
    25% { bottom: -250px; transform: scaleY(0.8); }
    30% { transform: scaleY(1);}
    50% { bottom: 0 }
    70% { transform: scaleY(1);}
    75% { bottom: 250px; transform: scaleY(0.8);}
    80% { transform: scaleY(1);}
    100% { bottom: 0;}
}
